<div>
  <% if product.errors.any? %>
    <% product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</div>

<%= form_with model: [:admin, product], local: true do |f| %>
<div>
  <% product.with_attached_images.images.each do |image| %>
    <%= cover_image_tag(image, 300, 300, multiple_image: true)%>
    <% f.hidden_field :images, multiple: true, value: image.signed_id %>
    <%= link_to '刪除圖片', destroy_image_admin_product_path(image.id), method: :delete %>
  <% end %>
</div>

  <div>
    <%= f.label :images, '上傳圖檔' %>
    <%= f.file_field :images, multiple: true, direct_upload: true %>
  </div>

  <div>
    <%= f.label :name, '產品名稱' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :list_price, '售價' %>
    <%= f.number_field :list_price %>
  </div>

  <div>
    <%= f.label :sell_price, '特價' %>
    <%= f.number_field :sell_price %>
  </div>

  <div>
    <%= f.label :quantity, '數量' %>
    <%= f.number_field :quantity %>
  </div>

  <div>
    <%= f.label :sku, 'SKU' %>
    <%= f.text_field :sku %>
  </div>

    <div>
    <%= f.label :status, '產品狀態' %>
    <%= f.radio_button :status, 'off_sell', checked: true %>
    <%= f.label :status, '下架' %>
    <%= f.radio_button :status, 'on_sell' %>
    <%= f.label :status, '上架' %>
    <%= f.radio_button :status, 'restocking' %>
    <%= f.label :status, '進貨中' %>
  </div>

  <div>
    <%= f.label :describle, '產品敘述' %>
    <%= f.text_area :describle %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to '取消', admin_products_path %>
  </div>
<% end %>