<h1>
  <%= t("products.page_title.list") %>
  <%= link_to t("products.links.add_product"), new_admin_product_path%>
</h1>

<table>
  <thead>
    <tr>
      <th scope='col'><%= t("products.page_title.product") %></th>
      <th scope='col'><%= t("products.page_title.images") %></th>
      <th scope='col'><%= sortable "list_price" %></th>
      <th scope='col'><%= sortable "sell_price" %></th>
      <th scope='col'><%= sortable "quantity" %></th>
      <th scope='col'></th>
      <th scope='col'></th>
      <th scope='col'></th>
    </tr>
  </thead>
  <% @products.with_attached_images.each do |product| %>
    <tbody>
      <td><%= product.name %></td>
      <td><%= cover_image_tag(product, 100, 100) %></td>
      <td><%= product.list_price %></td>
      <td><%= product.sell_price %></td>
      <td><%= product.quantity %></td>
      <td><%= link_to t("products.links.show"), admin_product_path(product) %></td>
      <td><%= link_to t("products.links.edit"), edit_admin_product_path(product) %></td>
      <td><%= link_to t("products.links.delete"), admin_product_path(product), method: :delete, data: { confirm: I18n.t("products.confirms.delete") } %></td>
    </tbody>
  <% end %>
</table>
