<h1>
  書本列表
  <%= link_to '新增', new_product_path%>
</h1>


<%= @products.count %>

<table>
  <thead>
    <tr>
      <th scope='col'>商品名稱</th>
      <th scope='col'><%= sortable "list_price" %></th>
      <th scope='col'><%= sortable "sell_price" %></th>
      <th scope='col'>查看</th>
      <th scope='col'>編輯</th>
      <th scope='col'>刪除</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
    <tbody>
      <td><%= product.name %></td>
      <td><%= product.list_price %></td>
      <td><%= product.sell_price %></td>
      <td><%= link_to '查看', product_path(product) %></td>
      <td><%= link_to '編輯', edit_product_path(product) %></td>
      <td><%= link_to '刪除', product_path(product), method: :delete, data: { confirm: '確定要刪除' } %></td>
    </tbody>
  <% end %>
</table>
