<h1>
  書本列表
  <%= link_to '新增', new_product_path%>
</h1>


<%= @products.count %>

<% @products.each do |product| %>
<div>
  <td><%= product.name %></td>
  <td><%= link_to '查看', product_path(product) %></td>
  <td><%= link_to '編輯', edit_product_path(product) %></td>
  <td><%= link_to '刪除', product_path(product), method: :delete, data: { confirm: '確定要刪除' } %></td>
</div>
<% end %>
