<h3><%= @product.name %></h3>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <td><%= t("prodcuts.image") %></td>
      <% @product.images.each do |image| %>  
        <td><%= cover_image_tag(image, 100, 100, multiple_image: true) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t("products.list_price") %></td>
      <td><%= @product.list_price %></td>
    </tr>
    <tr>
      <td><%= t("products.sell_price") %></td>
      <td><%= @product.sell_price %></td>
    </tr>
    <tr>
      <td><%= t("products.quantity") %></td>
      <td><%= @product.quantity %></td>
    </tr>
    <tr>
      <td><%= t("products.status.title") %></td>
      <td><%= @product.status %></td>
    </tr>
    <tr>
      <td><%= t("products.describle") %></td>
      <td><%= @product.describle %></td>
    </tr>

  </tbody>
  <tfoot>
    <tr>
      <td>
        <%= link_to t("products.links.root_page"), products_path %>
      </td>
    </tr>
  </tfoot>
</table>
